.postsListItem {
    padding: 30px 40px 40px 40px;
    width: 580px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 20px;
}

.postsListItem_header {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.postsListItem_header_userIcon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    object-fit: cover;
}

.postsListItem_header_userName {
    font-family: 'TT Norms';
    font-size: 24px;
    color: #0D1C2E;
}

.postsListItem_title {
    margin-top: 10px;
    font-family: 'TT Norms';
    font-size: 18px;
    color: #0D1C2E;
}

.postsListItem_description_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.postsListItem_description_box_text {
    width: 450px;
    font-family: 'TT Norms';
    font-size: 16px;
    line-height: 26px;
    color: #707C97;
}

.postsListItem_box_amountComents {
    display: flex;
    align-items: center;
}

.postsListItem_box_amountComents_img {
    width: 15px;
    height: 14.51px;
    margin-right: 2px;
}

.postsListItem_box_amountComents_amount {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #687684;
}

.postsListItem_btn_btn_box {
    display: flex;
}

.postsListItem_btn_showComments {
    margin-top: 20px;
    background-color: Transparent;
    border: none;
    font-family: 'TT Norms';
    font-size: 16px;
    letter-spacing: -0.3px;
    color: #4C9EEB;
    cursor: pointer;
}

.postsListItem_btn_addComments {
    margin-top: 20px;
    background-color: Transparent;
    border: none;
    font-family: 'TT Norms';
    font-size: 16px;
    letter-spacing: -0.3px;
    color: #4C9EEB;
    cursor: pointer;
}

.postsListItem_active {
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
    padding-bottom: 0;
}

.active_text {
    color: #FFFFFF;
}

.active_button {
    color: #FFFFFF;
}